#entorno virtual
/mercadolibro-env
mercadolibro
/backend/mercadolibro
#Archivos 2023
/Backend 2023

#pychache
/myproject/__pycache__
/myproject/myproject/__pycache__

#requirements
/myproject/requirements.txt

#pycache
/myproject/myproject/__pycache__
/myproject/ecommerce/__pycache__